@charset "utf-8";

/* intro (top visual + overlay text) */
.about_intro_wrap {

}

.about_intro_inner {
    width: 100%;
}

.about_intro_visual {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    background: url(../img/about/intro.jpg) center/cover;
    color: #fff;
    z-index: 100;
}

.about_intro_visual::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.about_intro_text {
    position: absolute;
    left: 50%;
    bottom: 80px;
    transform: translateX(-50%);
    min-width: 1500px;
    max-width: var(--grid-width);
    word-break: keep-all;
    z-index: 1;
}

.about_intro_eyebrow {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #E82127;
    font-family: "Orbitron", sans-serif;
}

.about_intro_title {
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 700;
    font-family: "Pretendard Variable", Pretendard, system-ui,
        "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
}

.about_intro_desc {
    font-size: 18px;
    line-height: 1.4;
}

.about_intro_desc + .about_intro_desc {
    margin-top: 20px;
}

/* intro (who we are / our mission) */
.intro_wrap {
    padding: 200px 0;
}

.intro_inner {
    max-width: var(--grid-width);
    margin: 0 auto;
}


/* who we are */
.who_row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.who_text {
    width: 40%;
    flex-shrink: 0;
    text-align: end;
    word-break: keep-all;
}

.who_eyebrow {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #E82127;
    font-family: "Orbitron", sans-serif;
}

.who_title {
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 700;
    font-family: "Pretendard Variable", Pretendard, system-ui,
        "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
}

.who_desc {
    font-size: 18px;
    line-height: 1.4;
    word-break: keep-all;
}

.who_image {
    width: 800px;
    height: 450px;
    flex-shrink: 0;
    background: url(../img/about/who.png) no-repeat center/cover;
}


/* our mission */
.mission_row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    margin-top: 100px;
}

.mission_visual {
    width: 800px;
    height: 450px;
    flex-shrink: 0;
    position: relative;
}

.mission_image {
    position: absolute;
}

.mission_image1 {
    width: 600px;
    height: 350px;
    top: 0;
    left: 0;
    background : url(../img/about/mission3.png) no-repeat center/ cover;
}

.mission_image2 {
    width: 410px;
    height: 260px;
    right: 0;
    bottom: 0;
    background : url(../img/about/mission5.png) no-repeat center/cover;
}

.mission_text {
    width: 40%;
    flex-shrink: 0;
    word-break: keep-all;
}

.mission_eyebrow {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #E82127;
    font-family: "Orbitron", sans-serif;
}

.mission_title {
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 700;
    font-family: "Pretendard Variable", Pretendard, system-ui,
        "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
}

.mission_desc {
    font-size: 18px;
    line-height: 1.4;
    word-break: keep-all;
}


/* what we do */
.what_wrap {
    padding: 200px 0 ;
    background-color: #f2f2f2;
}

.what_inner {
    max-width: var(--grid-width);
    margin: 0 auto;
}

.what_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.what_left {
    width: 760px;
    height: 920px;
    position: relative;
}

.what_item {
    position: absolute;
}

.what_item1 {
    top: 0;
    left: 0;
    width: 300px;
}

.what_item2 {
    top: 230px;
    left: 450px;
    width: 250px;
}

.what_item3 {
    top: 500px;
    left: 40px;
    width: 300px;
}

.what_item_img {
    width: 100%;
    margin-bottom: 16px;
}

.what_item1 .what_item_img {
    height: 300px;
    background: url(../img/about/what_engineering.png) no-repeat center / cover;
}

.what_item2 .what_item_img {
    height: 300px;
    background: url(../img/about/what_software.png) no-repeat center / cover;
}

.what_item3 .what_item_img {
    height: 300px;
    background: url(../img/about/what_manufacturing.png) no-repeat center / cover;
}

.what_item_name {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 700;
}

.what_item_desc {
    font-size: 16px;
    line-height: 1.3;
    color: #666;
    word-break: keep-all;
}

.what_divider {
    display: block;
    width: 1px;
    height: 920px;
    background-color: rgb(170 170 170 / 20%);
}

.what_right {
    width: 448px;
}

.what_title {
    margin-bottom: 20px;
    font-size: 56px;
    line-height: 1.1;
    font-weight: 900;
    font-family: "Orbitron", sans-serif;
    color: #E82127;
}

.what_lead {
    margin-bottom: 10px;
    font-size: 28px;
    line-height: 1.4;
    font-weight: 700;
    word-break: keep-all;
}

.what_desc p {
    font-size: 18px;
    line-height: 1.4;
    word-break: keep-all;
}


/* our people */
.people_wrap {
    padding: 200px 0;
}

.people_inner {
    max-width: var(--grid-width);
    margin: 0 auto;
    position: relative;
    height: 820px;
}

.people_text {
    position: absolute;
    top: 70px;
    left: 40px;
    width: 448px;
    word-break: keep-all;
}

.people_eyebrow {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #E82127;
    font-family: "Orbitron", sans-serif;
}

.people_title {
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 700;
    font-family: "Pretendard Variable", Pretendard, system-ui,
        "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
}

.people_desc {
    font-size: 18px;
    line-height: 1.4;
    word-break: keep-all;
}

.people_image {
    position: absolute;
}

.people_image1 {
    top: 0;
    right: 0;
    width: 450px;
    height: 550px;
    background: url(../img/about/people1.png)  no-repeat center / cover;
}

.people_image2 {
    top: 440px;
    right: 470px;
    width: 650px;
    height: 380px;
    background: url(../img/about/people2.png)  no-repeat center / cover;
}

.people_image3 {
    top: 0px;
    right: 470px;
    width: 350px;
    height: 420px;
    background: url(../img/about/people3.png)  no-repeat center / cover;
}

.people_image4 {
    top: 570px;
    right: 0px;
    width: 450px;
    height: 250px;
    background: url(../img/about/people4.png)  no-repeat center / cover;
}


/* our impact */
.impact_wrap {
    padding: 200px 0;
    background: url(../img/about/impact.png) no-repeat center/cover;
    position: relative;
}

.impact_wrap::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.impact_inner {
    max-width: var(--grid-width);
    margin: 0 auto;
}

.impact_row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.impact_text {
    width: 100%;
    flex-shrink: 0;
    margin: 0 auto;
    word-break: keep-all;
    text-align: center;
    z-index: 1;
    color: #fff;
}

.impact_eyebrow {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #E82127;
    font-family: "Orbitron", sans-serif;
}

.impact_title {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 1.3;
    font-weight: 700;
    font-family: "Pretendard Variable", Pretendard, system-ui,
        "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
}

.impact_desc {
    font-size: 18px;
    line-height: 1.4;
    word-break: keep-all;
}

.impact_cards {
    flex: 1;
    display: flex;
    gap: 10px;
    z-index: 1;
}

.impact_card {
    flex: 1;
    height: 280px;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .08);
}

.impact_number {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
    line-height: 1;
}

.impact_number strong {
    font-size: 56px;
    font-weight: 800;
    font-family: "Orbitron", sans-serif;
    color: #E82127;
}

.impact_prefix {
    margin-right: 6px;
    font-size: 20px;
    font-weight: 600;
}

.impact_unit {
    margin-left: 6px;
    font-size: 26px;
    font-weight: 600;
}

.impact_card_title {
    display: block;
    margin-top: auto;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 700;
}

.impact_card_desc {
    font-size: 15px;
    line-height: 1.5;
    color: #666;
    word-break: keep-all;
}
